*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
}
button{
    width: 100px;
    height: 33px;
    background-color: #ff9900;
    border: none;
    border-radius: 8px;
    font-size: 18px;

}
header{
    background-color: black;
    color: white;
    height: 60px;
    font-size: 18px;

}
.main-list a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}

.head-image{
    height: 800px;
    background: url(chai.jpg);
    background-size: cover;
    opacity: 0.8;
    text-align: center;
    padding: 300px;
}

.menu{
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;

}
nav ul li{
    list-style: none;
    display: inline;
    margin-right: 25px;
    font-size: 20px;
}


.logo{
    font-size: 50px;
    font-style: italic;
}
.head-image h2{
    font-size: 50px;
    font-style: italic;
    color: rgb(250, 10, 10);
    margin:10px ;
}

.head-image p{
    font-size: 25px;
    color: chocolate;
}
img:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 25px;
}




#ff {
    margin-top: 790px;
    text-align: center;
    font-size: 50px;
    color: orangered;
}


.recipe-card img{
    width: 300px;

}
.recipe-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.recipe-card{
    background-color: cornsilk;
    padding: 25px;
}
.recipe-card h2{
    font-size: 50px;
    font-style: italic;
}
.recipe-card li{
    font-size: 20px;
}
.recipe-card h4{
    font-size: 20px;
}
.recipe h3{
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 70px;
    font-style: italic;
    text-align: center;
    color: #333;
}
.recipe-card a{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #333;
    color: white;
    font-size: 20px;
    padding-top: 10px;
    height: 40px;
}
footer{
    background-color: black;
}
.footercontainer{
    display: flex;
    padding: 70px,20px,30px;
}
.social-icons {
    display: flex;
    justify-content: center;
}
.social-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50px;
}
.social-icons a i{
    font-size: 10px;
    color: black;
    opacity: 0.9;
}
.social-icons a:hover{
    background-color: black;
    transition: 0.5s;
}
.social-icons i:hover{
    color: aliceblue;
    transition: 0.5;
}
.recipe-card:hover{
    background-color: black;
    color: whitesmoke;
    transition: 0.5;
}
.recipe-card a:hover{
    background-color: aliceblue;
    color: black;
    transition: 0.5;
}
.recipe-card img:hover{
    opacity: 0.7sec;
}